# This service file can be used if you are running on Ubuntu or Debian, or any other distro that uses systemd.
# This service file has hodlv2 installed in /opt, set your Environment and WorkingDirectory variables accordingly.
#
[Unit]
Description=HODLv2 Web
After=network.target mongodb.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30
WorkingDirectory=/opt/hodlv2
Environment="PYTHONPATH=$PYTHONPATH:/opt/hodlv2"
ExecStart=/opt/hodlv2/env/bin/python3 hodlv2/web/run.py

[Install]
WantedBy=multi-user.target
