{% include 'layout.html' %}

        <div class="container-fluid">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <div class="row">

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total profit</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{profits[1]}}%</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-coins fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Active trades</div>
		      <div class="h5 mb-0 font-weight-bold text-gray-800">{{active_trades[1]}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Finished trades</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{finished_trades[1]}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-flag-checkered fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              {% if health['health'] %}
                  <div class="card border-left-success shadow h-100 py-2">
              {% else %}
                  <div class="card border-left-danger shadow h-100 py-2">
              {% endif %}
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Health</div>
                      {% if health['health'] %}
                          <div class="h5 mb-0 font-weight-bold text-success">OK</div>
                      {% else %}
                          <div class="h5 mb-0 font-weight-bold text-danger">NOT OK</div>
                      {% endif %}
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-heart-pulse fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-xl-9 col-lg-8">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Active trades</h6>
                </div>
                <div class="card-body">
                  <table class="table index-table table-sm" style="width:100%">
                    <thead>
                        <tr>
                            <th>Market</th>
                            <th>Entry</th>
                            <th>Next Entry</th>
                            <th>Target</th>
                        </tr>
		    </thead>
                    <tbody>
                        {%for t in active_trades[0]%}
			  <tr>
			    <td>
			      <div class="parent">
			        <img class="base" src="https://coinicons-api.vercel.app/api/icon/{{t['market'].split('/')[0].lower()}}" height="32px">
			        <img class="quote" src="https://coinicons-api.vercel.app/api/icon/{{t['market'].split('/')[1].lower()}}" height="32px">
			      </div>
			    </td>
			    <td>{{t['open']['average']}} {{t['market'].split('/')[1]}}<br>{{t['open']['amount']}} {{t['market'].split('/')[0]}}</td>
          <td>{{t['next_trade_price']}} {{t['market'].split('/')[1]}}<br><span class="text-danger font-weight-bold">-{{'%0.2f' % ((t['next_trade_price'] - t['last'])/t['last'] * 100)}}</span></td>
			    <td>{{t['close']['price']}} {{t['market'].split('/')[1]}}<br><span class="text-success font-weight-bold">+{{'%0.2f' % ((t['close']['price'] - t['last'])/t['last'] * 100)}}</span></td>
		          </tr>
                        {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-4">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Profit (ex. fees)</h6>
                </div>
                <div class="card-body">
                  <table class="table index-table-small table-sm" style="width:100%">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for p in profits[0]%}
                          <tr>
                            <td>
                                <img src="https://coinicons-api.vercel.app/api/icon/{{p['_id'].lower()}}" height="32px">
                            </td>
                            <td>
                                {{'%0.6f' % p['sum_val'] }}
                            </td>
                          </tr>
                        {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Finished trades</h6>
                </div>
                <div class="card-body">
                  <table class="table index-table table-sm" style="width:100%">
                    <thead>
                        <tr>
                            <th>Market</th>
                            <th>Entry</th>
                            <th>Target</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for t in finished_trades[0]%}
                          <tr>
                            <td>
                              <div class="parent">
                                <img class="base" src="https://coinicons-api.vercel.app/api/icon/{{t['market'].split('/')[0].lower()}}" height="32px">
                                <img class="quote" src="https://coinicons-api.vercel.app/api/icon/{{t['market'].split('/')[1].lower()}}" height="32px">
                              </div>
                            </td>
                            <td>{{t['open']['average']}} {{t['market'].split('/')[1]}}<br>{{t['open']['amount']}} {{t['market'].split('/')[0]}}</td>
                            <td>{{t['close']['price']}} {{t['market'].split('/')[1]}}</td>
			    <td><span class="text-success font-weight-bold">{{'%0.6f' % t['profit']}} {{t['profit_currency']}}</span></td>
                          </tr>
                        {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; HODLv2 2023</span>
          </div>
        </div>
      </footer>

    </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="static/js/hodlv2-admin.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

  <script>
    $(document).ready(function () {
	    $('.index-table').DataTable();
    });
    $(document).ready(function () {
	    $('.index-table-small').DataTable({searching:false, info: false});
    });
  </script>

  <script>
    $('.nav-item').click(function(){
        $('.active').removeClass('active');
        $(this).addClass('active');
    });
  </script>

</body>

</html>
