{% include 'layout.html' %}

        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Logging</h6>
                </div>
                <div class="card-body">
                  <table class="table index-table table-sm" style="width:100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Loglevel</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for l in logging%}
                          <tr>
			      <td>{{l['timestamp']}}</td>
			      <td>{{l['level']}}</td>
			      <td>{{l['message']}}</td>
                          </tr>
                        {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; HODLv2 2023</span>
          </div>
        </div>
      </footer>

    </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="static/js/hodlv2-admin.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

  <script>
    $(document).ready(function () {
	    $('.index-table').DataTable();
    });
  </script>

</body>

</html>
