<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="HODLv2" />
    <meta name="author" content="p0nts" />

    <title>HODLv2 - Login</title>

    <link
      href="static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />

    <link href="static/css/hodlv2-admin.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="static/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <div class="row justify-content-center align-items-center h-screen">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    </div>
                    <form class="user" method="POST" id="login">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control form-control-user"
                          name="username"
                          id="username"
                          placeholder="Username"
                          required
                        />
                      </div>
                      <div id="uname_response"></div>
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control form-control-user"
                          name="password"
                          id="password"
                          placeholder="Password"
                          required
                        />
                      </div>
                      <button
                        type="submit"
                        name="button"
                        id="button"
                        class="btn btn-primary btn-user btn-block"
                      >
                        <span style="padding-right: 10px;"
                          ><img
                            src="../static/img/loader.gif"
                            id="img"
                            style="display: none;"
                        /></span>
                        Login
                      </button>
                    </form>
                    <hr />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/js/hodlv2-admin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="../static/js/checkLoginusername.js"></script>
    <script src="../static/js/checkLoginpassword.js"></script>
  </body>
</html>
