# Rename or copy this configuration file to config.py

# Exchange settings (required)
EXCHANGE = "kraken"
EXCHANGE_KEY = "key"
EXCHANGE_SECRET = "secret"
EXCHANGE_PASSWORD = "" # Optional

# Bot settings (required)
MARKETS = {
    "BTC/USD": {
        "Side":"buy",
        "MaxTrades": 10,
        "TradeValue": 10,
        "PercOpen": 1,
        "PercClose": 1,
        "ProfitIn": "USD",
        "ResetNextTradePrice": 1,
    },
    "DOT/USD": {
        "Side":"buy",
        "MaxTrades": 10,
        "TradeValue": 10,
        "PercOpen": 1,
        "PercClose": 1,
        "ProfitIn": "USD",
        "ResetNextTradePrice": 1,
    },
    "EWT/USD": {
        "Side":"buy",
        "MaxTrades": 10,
        "TradeValue": 10,
        "PercOpen": 1,
        "PercClose": 1,
        "ProfitIn": "USD",
        "ResetNextTradePrice": 1,
    },
    "LINK/USD": {
        "Side":"buy",
        "MaxTrades": 10,
        "TradeValue": 10,
        "PercOpen": 1,
        "PercClose": 1,
        "ProfitIn": "USD",
        "ResetNextTradePrice": 1,
    },
}

# Pushover (optional)
PUSHOVER_ENABLED = "true" # true/false
PUSHOVER_USER_KEY = "key"
PUSHOVER_APP_TOKEN = "token"

# Log level (CRITICAL/ERROR/WARNING/INFO/DEBUG)
LOG_LEVEL = "INFO"
